<!DOCTYPE html>
<html>
<head>
	<Title> Please login first</Title>
	<link href = "/css/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open Sans"/>
</head>

<body>
	<div class="common-container">
		<h5>You are not logged in. please login first</h5>
		<a href="/login" > Login page </a>
	</div>
</body>
</html>
