<!-- TODO: Apply CSS to the form and whole document to make it look more attactive -->
<!DOCTYPE html>
<HEAD>
	<Title> Please login first</Title>
	<link href = "css/style.css" rel="stylesheet" type="text/css">
</HEAD>

<body>
	You are not logged in. please login first. <br>
	<a href="/login" > Login page </a>
</body>
