<!DOCTYPE html>
<html>
<head>
	<Title>Quiz Home</Title>
	<link href = "/css/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open Sans"/>
</head>

<body>

	<form action="/logout" method="POST">
		<button type="submit" class="custom-btn-class logout">Logout</button>
	</form>
	<div class="common-container">
		<h2> Choose subject</h2>
		<ol class="subject-list">
			  <li><a href="quiz/physics/"> Physics</a></li>
			  <li><a href="quiz/chemistry"> Chemistry</a></li>
			  <li><a href="quiz/maths"> Maths</a></li>
		</ol>
	</div>

</body>
</html>
