<!DOCTYPE html>
<html>
<head>
	<Title>Result page</Title>
	<link href = "/css/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open Sans"/>
</head>

<body>
	<form action="/logout" method="POST">
		<button type="submit" class="custom-btn-class logout">Logout</button>
	</form>
	<div class="common-container">
		<h1>Your score is: {{score}}</h1>
		<a href="/quiz"> Give a new test</a>
	</div>
</body>
</html>
